'scopeName': 'source.liquidsoap'
'name': 'Liquidsoap'
'fileTypes': ['liq']
'patterns': [
    {
    'include': '#line_comments'
    },
    {
        'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
        'name': 'constant.numeric.liquidsoap'
    },
    {
        'match': '\\b(function)\\s+(\\w+)\\s*\\(.*\\)'
        'captures':
            '1':
                'name': 'keyword.control.liquidsoap'
            '2':
                'name': 'entity.name.function.liquidsoap'
        'name': 'meta.function.mylanguage'
    },
    {
        'begin': '\''
        'end': '\''
        'name': 'string.quoted.single.liquidsoap'
    },
    {
        'begin': '"'
        'end': '"'
        'name': 'string.quoted.double.liquidsoap'
    },
]
'repository':
  'comment':
    'begin': '(^[ \\t]+)?(?=#)'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.makefile'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '#'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.makefile'
        'end': '\\n'
        'name': 'comment.line.number-sign.makefile'
        'patterns': [
          {
            'match': '\\\\\\n'
            'name': 'constant.character.escape.continuation.makefile'
          }
        ]
      }
    ]
